.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.file-input {
  display: none;
}

::ng-deep .no-line .mat-form-field-underline {
  display: none;
}
