<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-accordion multi>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="align-self-center">Generate maze</span>
            <button mat-icon-button color="primary" class="ml-auto">
              <mat-icon matTooltip="It is best to enter different & odd values for the width and height">info</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <mat-form-field class="w-100">
              <input matInput type="number" [(ngModel)]="generateSettings.width" placeholder="width">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="w-100">
              <input matInput type="number" [(ngModel)]="generateSettings.height" placeholder="height">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox [(ngModel)]="generateSettings.randomEntranceAndExit">Random entrance & exit</mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <button mat-raised-button type="button" color="primary"
                    [disabled]="generateSettings.width === 0 || generateSettings.height === 0" (click)="generateMaze()">
              Generate
            </button>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Select maze</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
          <button mat-list-item (click)="loadMaze('maze1')">Maze 1 - 8x8</button>
          <button mat-list-item (click)="loadMaze('maze2')">Maze 2 - 12x12 (empty)</button>
          <button mat-list-item (click)="loadMaze('maze3')">Maze 3 - 15x15</button>
          <button mat-list-item (click)="loadMaze('maze4')">Maze 4 - 29x29</button>
        </mat-action-list>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Select solving algorithm</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-radio-group #algorithms [(ngModel)]="selectedAlgorithm" class="radio-group">
            <mat-list-item *ngFor="let algo of typesOfAlgorithms">
              <mat-radio-button [value]="algo" class="radio-button">
                {{algo}}
              </mat-radio-button>
            </mat-list-item>
          </mat-radio-group>

          <mat-list-item>
            <button mat-raised-button type="button" color="primary" (click)="solveMaze(selectedAlgorithm)"
                    [disabled]="selectedAlgorithm === ''">Solve
            </button>
          </mat-list-item>

        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header> Settings</mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            Maze cell size: {{settings.cellSize}}
          </mat-list-item>
          <mat-list-item>
            <mat-slider
              class="w-100"
              min="8"
              max="64"
              step="1"
              [value]="settings.cellSize"
              thumbLabel
              (change)="updateCellSize($event)"
            ></mat-slider>
          </mat-list-item>
          <mat-list-item>
            Solved path thickness: {{settings.solvedPathThickness}}
          </mat-list-item>
          <mat-list-item>
            <mat-slider
              class="w-100"
              min="1"
              max="64"
              step="1"
              [value]="settings.solvedPathThickness"
              thumbLabel
              (change)="updateSolvedPathThickness($event)"
            ></mat-slider>
          </mat-list-item>

          <mat-divider class="pb-4"></mat-divider>

          <mat-list-item>
            <mat-form-field class="no-line w-100">
              <mat-label>Cell background: <b>{{settings.cellBackground | uppercase}}</b></mat-label>
              <input matInput type="color" [(ngModel)]="settings.cellBackground">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="no-line w-100">
              <mat-label>Entrance cell background: <b>{{settings.cellEntranceBackground | uppercase}}</b></mat-label>
              <input matInput type="color" [(ngModel)]="settings.cellEntranceBackground">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="no-line w-100">
              <mat-label>Exit cell background: <b>{{settings.cellExitBackground | uppercase}}</b></mat-label>
              <input matInput type="color" [(ngModel)]="settings.cellExitBackground">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="no-line w-100">
              <mat-label>Wall cell background: <b>{{settings.cellWallBackground | uppercase}}</b></mat-label>
              <input matInput type="color" [(ngModel)]="settings.cellWallBackground">
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="no-line w-100">
              <mat-label>Solved path color: <b>{{settings.solvedPathColor | uppercase}}</b></mat-label>
              <input matInput type="color" [(ngModel)]="settings.solvedPathColor"></mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <button mat-raised-button type="button" color="primary" (click)="saveSettings()">Set</button>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Maze Solver</span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <app-maze-grid [fileName]="fileName" [settings]="settings" #maze></app-maze-grid>
  </mat-sidenav-content>
</mat-sidenav-container>
